
{% extends 'base.html' %}

{% block title %}About Us {% endblock title %}

{% block body %}

<div class="small-container" >

<p>Welcome to MSP Nepal(mysafeprice.com)!!!<br><br>

Founded by computer engineer brothers, Er. Sailesh Dhakal and Er. Saurav Dhakal, MySafePrice.com is dedicated to revolutionizing the way people shop in Nepal. With our strong background in engineering and a passion for providing quality products at affordable prices, we have created a platform that puts customer satisfaction at the forefront.<br><br>

Er. Saurav Dhakal, a computer engineer from the renowned Advanced College of Engineering and Management, brings extensive technical expertise to our team. He is driven by a vision to leverage technology to enhance the shopping experience for customers in Nepal.<br><br>

Er. Sailesh Dhakal, another accomplished computer engineer, completed his engineering education at Dr. Ambedkar Institute of Technology in Bengaluru, India. His in-depth knowledge and experience further strengthen our commitment to delivering a seamless online shopping experience.<br><br>

At MySafePrice.com, we understand that customer satisfaction is the key to success. We believe that every customer deserves access to unique and valuable products without having to compromise on cost. We tirelessly curate our product selection to ensure that you have access to a wide range of high-quality items that meet your specific needs.<br><br>

Our dedicated team is committed to providing excellent customer service. We are here to assist you at every step of your shopping journey, from answering your queries to resolving any concerns you may have. We strive to make your experience with us seamless, enjoyable, and memorable.<br><br>

Security and privacy are of utmost importance to us. We have implemented stringent measures to safeguard your personal information and payment details, providing you with peace of mind while shopping on our platform.<br><br>

As a socially responsible company, we actively engage in philanthropic initiatives to make a positive impact on society. By choosing MySafePrice.com, you not only benefit from great deals but also contribute to the betterment of others.<br><br>

Thank you for choosing MySafePrice.com as your trusted online shopping destination. We are dedicated to exceeding your expectations and ensuring your utmost satisfaction. Shop with us today and experience a new level of convenience, affordability, and customer service.<br><br>



</p>
</div>

{% endblock body %}}
